body {
  margin:0px;
  background-color:black;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family:"nfm";
  color:white;
  cursor:url("./images/mouse.png") 2 2, auto;
}

#bgimage {
  position:fixed;
  height:100%;
  width:100%;
  background-image: url("./images/jungle.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  z-index:0;
}

#mainterminal {
  position:relative;
  overflow:hidden;
  width:95%;
  height:95%;
  background-color:rgb(1,1,1,0.7);
  border-radius: 15px;
  margin-left:auto;
  margin-right:auto;
  z-index:1;
}

#cursor {
  position:fixed;
  display:block;
  width:.5px;
  height:20px;
  background-color:white;
  z-index:5;
}

#prompt, #input {
  white-space:pre;
}

#output {
  text-overflow:ellipsis;
}

/* @keyframes scrollText { */
/*   0% { */
/*     transform: translateX(100%); */
/*   } */
/*   100% { */
/*     transform: translateX(-100%); */
/*   } */
/* } */

#bl, #br {
  color:#a42d1b;
}

#lt {
  color:#11a1de;
}

#at {
  color:#a5d941;
}

#lucas {
  color:#f7dd12;
}

#money {
  white-space:pre;
}

#file {
  color:#eb6dcd;
}

@keyframes scrollText {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@font-face {
  font-family:"nfm";
  src:url("./fonts/nfm.ttf");
}

@media (min-width: 768px) {
}

